html{
    scroll-behavior: smooth;
    height: 100%;
  }
.delete{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.delete .yesno {
    display: flex;
}
.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
    background-color: #32a367;
}